.calendar {
    width: 100%;
    /* max-width: 900px; */

    background-color: gainsboro;

    border-bottom: 3px solid black;
    border-radius: 16px;
}

.calendar__header {
    padding-top: 14px;
    text-align: center;
}

.calendar__body {
    padding: 36px;

    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 20px;
}

.calendar__fullCalendar {
    width: 100%;
    /* max-width: 700px; */
}

@media(max-width: 1200px) {
    .calendar__container {
        flex-direction: column;
    }
}