.viewRide {
    z-index: 10;
    width: 100%;
}

.viewRide__body {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 10px;

    background-color: #dcdcdccc;
    border-radius: 10px;
}

.viewRide__header {
    text-align: center;
}

.viewRide__events {
    position: relative;
    
    width: 90%;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.events__group {
    background-color: #e5f3ee;

    border: 1px solid black;
    border-radius: 24px;

    padding: 8px 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.currentDate::before {
    content: "⇒";
    position: absolute;
    left: -22px;
}

.events__line {
    height: 30px;
    border-left: 2px solid black;
}

.events__container {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    gap: 12px;
}

.event__btn-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.event {
    display: flex;
    align-items: center;
    gap: 8px;
}

.event__point {
    width: 100px;

    position: relative;

    border: 3px solid #3835B9;
    border-radius: 16px;

    text-align: center;
    color: white;

    background-color: cornflowerblue;

    padding: 0 8px;
    margin-bottom: 8px;
}

.event__dashed {
    position: absolute;
    top: 16px;
    left: -10px;
}

.event__point::before {
    content: '\1F6A9';
    position: absolute;
    left: 44%;
    bottom: 24px;
}

.event__btn {
    /* background-color: transparent;
    border: 1px solid var(--bs-green);
    border-radius: 8px;
    color: var(--bs-green); */
    padding: 2px 18px;
    transition: transform 0.2s, color 0.2s;
    will-change: transform;
        &:hover {
            transform: scale(1.05);
            /* cursor: pointer;
            color: var(--bs-white);
            background-color: var(--bs-green); */
        }
}

@media(max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .viewRide__events {
        width: 95%;
    }
    .events__group {
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .viewRide__events {
        width: 100%;
    }
    .events__group {
        padding: 6px 6px;
        gap: 6px;
    }
    .currentDate::before {
        left: -18px;
    }
}